<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/base :: head">
</head>

<body>
    <div class="container">
        <header th:replace="plantilla/base :: header"></header>
        <p>
        <div class="pagetitle"></div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="${titulo}" class="card-title"></h5>
                            <a th:href="@{/pages/proveedores/create}" class="btn btn-primary btn-sm" th:text="'Nuevo'" title="Crear nuevo registro"></a>
                            <p></p>

                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th><b>ID</b></th>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="prov:${proveedores}">
                                        <td th:text="${prov.id}"></td>
                                        <td th:text="${prov.nombre}"></td>
                                        <td th:text="${prov.direccion}"></td>
                                        <td th:text="${prov.telefono}"></td>
                                        <td th:text="${prov.email}"></td>
                                        <td>
                                            <a th:href="@{/pages/proveedores/edit/}+${prov.id}" class="btn btn-outline-primary btn-sm" th:text="'Editar'" title="Editar registro"></a>
                                            <a th:href="@{/pages/proveedores/delete/}+${prov.id}" class="btn btn-secondary btn-sm" th:text="'Borrar'" title="Borrar registro" onclick="return confirm('¿Está seguro de borrar?');"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
