<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/base :: head">
</head>

<body>
    <div class="container">
        <header th:replace="plantilla/base :: header"></header>
        <p>
        <div class="row">
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header" th:text="${titulo}"></div>
                    <div class="card-body">
                        <form th:action="@{/pages/proveedores/save}" method="post" th:object="${proveedor}">
                            <input type="hidden" th:field="*{id}" class="form-control" name="id">
                            <div class="mb-3 mt-3">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" th:field="*{nombre}" class="form-control" name="nombre" required="required">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="direccion" class="form-label">Dirección:</label>
                                <input type="text" th:field="*{direccion}" class="form-control" name="direccion" required="required">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="telefono" class="form-label">Teléfono:</label>
                                <input type="text" th:field="*{telefono}" class="form-control" name="telefono" required="required">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" th:field="*{email}" class="form-control" name="email" required="required">
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Guardar">
                                <a th:href="@{/pages/proveedores/}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
