<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/base :: head"></head>
<body>
    <div class="container">
        <header th:replace="plantilla/base :: header"></header>
        <p><p>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 th:text="${titulo}" class="card-title"></h5>
                        <a th:href="@{/movimientos/create}" class="btn btn-primary btn-sm" th:text="'Nuevo'" title="Crea nuevo registro"></a>
                        <p></p>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th><b>ID</b></th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Cliente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="fac : ${facturas}">
                                    <td th:text="${fac.id}"></td>
                                   <td th:text="${fac.fecha != null ? fac.fecha.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : 'N/A'}"></td>
                                    <td th:text="${fac.total}"></td>
                                    <td th:text="${fac.cliente.nombre + ' ' + fac.cliente.apellido}"></td>
                                    <td>
                                        <a th:href="@{/movimientos/edit/{id}(id=${fac.id})}" class="btn btn-outline-primary btn-sm " th:text="'Editar'" title="Editar registro"></a>
                                        <a th:href="@{/movimientos/delete/}+${fac.id}" class="btn btn-secondary btn-sm" th:text="'Borrar'" title="Borrar registro" onclick="return confirm('¿Está seguro de borrar?');"></a>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
                                        
