<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table datatable">
                        <thead>
                        <tr>
                            <th><b>ID</b></th>
                            <th>Descripción</th>
                            <th>Fecha Vacuna</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1#</td>
                            <td>Gretchen Rogers</td>
                            <td>5393</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="">Borrar</a>
                                <a class="btn btn-warning btn-sm" href="">Editar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2#</td>
                            <td>Harding Thompson</td>
                            <td>2824</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="">Borrar</a>
                                <a class="btn btn-warning btn-sm" href="">Editar</a>
                            </td>
                        </tr>

                        <tr>
                            <td>3#</td>
                            <td>Kalia Diaz</td>
                            <td>9184</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="">Borrar</a>
                                <a class="btn btn-warning btn-sm" href="">Editar</a>
                            </td>

                        </tr>
                        <tr>
                            <td>4#</td>
                            <td>Maia Pate</td>
                            <td>6682</td>
                             <td>
                                <a class="btn btn-danger btn-sm" href="">Borrar</a>
                                <a class="btn btn-warning btn-sm" href="">Editar</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                  

               
</body>
</html>
